{
  "rootDir": "{{ aptly_root_dir }}",
  "downloadConcurrency": 4,
  "downloadSpeedLimit": 0,
  "architectures": [{% if aptly_distro_architectures is defined and aptly_distro_architectures %}{% set comma = joiner( ", " ) %}{% for arch in aptly_distro_architectures %}{{ comma() }}"{{arch}}"{% endfor %}{% endif %}],
  "dependencyFollowSuggests": false,
  "dependencyFollowRecommends": false,
  "dependencyFollowAllVariants": false,
  "dependencyFollowSource": false,
  "gpgDisableSign": false,
  "gpgDisableVerify": false,
  "downloadSourcePackages": false,
  "ppaDistributorID": "{{ aptly_ppa_distributor_id }}",
  "ppaCodename": "",
  "skipContentsPublishing": false,
  "S3PublishEndpoints": {},
  "SwiftPublishEndpoints": {}
}
